
DB_HOST=localhost
DB_PORT=3306
DB_USER= # your database username
DB_PASSWORD= # your database password
DB_NAME= # your database name
FLASK_SECRET_KEY=HelloWorld123 # your secret key for Flask sessions (keep this secret in production)
